$c-bezier: cubic-bezier(.1, .22, .8, 1.13);

body{
    border: 0;
    margin: 0;
    padding: 0%;
    font-family: "Tangerine", cursive;
    font-weight: 700;
    
}
*{
    
}
.menu{
    max-width: 900px;
    margin: auto;
   
    font-size: 200%;
    margin-top: 50px;
   
}
.cosasque{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.cosasque >li >a{
    display: block;
    padding: 16px 20px;
    color: transparent;
    text-decoration: none;

}
.cosasque>li:hover{

    background-color: red;
}


.cancionesmenu{
    position: absolute;
    list-style: none;
    display: none;
    width: 200px;
    
}

.cosasque li:hover .cancionesmenu{
    display: block;

}

.cancionesmenu li:hover{
    

}
.cancionesmenu a:hover{
    text-decoration: none;
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;

}

.divcancion{
    background-color: #e9c46a;
    border-radius: 28px;
    text-decoration: none;
    color: transparent;
    

}
.cancionestext{
    color: transparent;
}






.divamo{
    background-color: #6ab2e9;
    border-radius: 28px;
    text-decoration: none;
    color: transparent;
    

}
.amotext{
    color: transparent;
}
.divnunca{
    background-color: #e96aba;
    border-radius: 28px;
    text-decoration: none;
    color: transparent;
    

}
.nuncatext{
    color: transparent;
}





/* tarjeta */


.flip-card {
    width: 320px;
    height: 504px;
    perspective: 2000px;
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 28px;
    transition: all 550ms cubic-bezier(0.1, 0.22, 0.8, 1.13);
    transform-style: preserve-3d;
  }
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 28px;
    backface-visibility: hidden;
  }
  .flip-card-front {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .flip-card-back {
    font-size: 1.25rem;
    cursor: pointer;
    text-align: center;
    display: grid;
    place-items: center;
    padding: 32px;
    background-color: #e5a5c1;
    transform: rotateY(180deg);
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(-180deg);
  }
  




.cards-grid{
  
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
















































.caj{
  
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caj2{
    
    height: 20vh;
    display: flex;
    justify-content: right;
    align-items: center;
}
.cajcan{
  
    height: 20vh;
    display: flex;
    justify-content: center;
    
}
.love{
    color: #eb182d;
}







.contenedor{
    position: relative;
  
    height: 40vh;
    display: flex; 
    justify-content: center;
    align-items: last baseline;
}
.conten{
    position: relative;
    
    height: 60vh;
    
    display: flex; 
    justify-content: center;
    align-items: last baseline;
}

.grad{
    font-size: 850%;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(135deg, #e9c46a 0% ,#FFAFCC 5%, #CDB4DB 25%, #BDE0FE 50%, #CDB4DB 75%, #FFAFCC 95%, #e9c46a 100%);  
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 10s linear infinite ;
    transition: font-size 0.3s ease;

}

.grad:hover{
    font-size: 900%;
    cursor: pointer; 
}




@keyframes animate{
    100%{
        background-position: 400%;

    }

}



.gradcan{
    justify-content: center;
    margin-top: 100px;
    font-size: 500%;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(135deg, #e9c46a 0% ,#FFAFCC 5%, #CDB4DB 25%, #BDE0FE 50%, #CDB4DB 75%, #FFAFCC 95%, #e9c46a 100%);  
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 10s linear infinite ;
    transition: font-size 0.3s ease;

}





@keyframes animate{
    100%{
        background-position: 400%;

    }

}


.img1{
    height: 110px;
    transition: transform 0.3s ease;
}





.img2{
    height: 280px;

    transition: transform 0.3s ease;
}

.img2:hover{
    transform: scale(1.2);
    .img1:hover{
   
        transform: translateY(-40px);
    
    }
    
}

.carta{
    height: 180px;
    
    transition: transform 0.3s ease;
}

.carta:hover{
    cursor: pointer; 
    transform: scale(1.2);

}





