html {
    font-family: 'Montserrat', sans-serif;
      background-color: #efefef;
  } 
  .textos-header {
    height: 400px;
    color: #ffffff;
    font-size: 5rem;
    text-align: center;
    font-family: 'Kurale', serif;
    flex-direction: column;
    align-items: last baseline;
    
  }

  .quitar{
    color: transparent;

  }
  .color{
    justify-content: center;
    align-items:  center;
    margin-top: 100px;
    font-size: 100%;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(135deg, #e9c46a 0% ,#FFAFCC 5%, #CDB4DB 25%, #BDE0FE 50%, #CDB4DB 75%, #FFAFCC 95%, #e9c46a 100%);  
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 10s linear infinite ;
    transition: font-size 0.3s ease;

}
 .color2{
    justify-content: center;
    align-items:  center;
    margin-top: 80px;
    font-size: 50%;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(135deg, #e9c46a 0% ,#FFAFCC 5%, #CDB4DB 25%, #BDE0FE 50%, #CDB4DB 75%, #FFAFCC 95%, #e9c46a 100%);  
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 10s linear infinite ;
    transition: font-size 0.3s ease;
  }
  
  .color3{
    justify-content: center;
    align-items:  center;
    margin-top: 120px;
    font-size: 100%;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(135deg, #c77dff 0% ,#ddca4e 5%, #bf2cba 25%, #e0aaff 50%, #bf2cba 75%, #ddca4e 95%, #c77dff 100%);  
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 10s linear infinite ;
    transition: font-size 0.3s ease;
  
  }
  .color4{
    justify-content: center;
    align-items:  center;
    margin-top: 80px;
    font-size: 80%;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(135deg, #c77dff 0% ,#ddca4e 5%, #bf2cba 25%, #e0aaff 50%, #bf2cba 75%, #ddca4e 95%, #c77dff 100%);  
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 10s linear infinite ;
    transition: font-size 0.3s ease;
  }
  .color5{
    justify-content: center;
    align-items:  center;
    margin-top: 120px;
    font-size: 100%;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(135deg, #c77dff 0% ,#ddca4e 5%, #bf2cba 25%, #e0aaff 50%, #bf2cba 75%, #ddca4e 95%, #c77dff 100%);  
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 10s linear infinite ;
    transition: font-size 0.3s ease;
  
  }
  .color6{
    justify-content: center;
    align-items:  center;
    margin-top: 80px;
    font-size: 80%;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(135deg, #c77dff 0% ,#ddca4e 5%, #bf2cba 25%, #e0aaff 50%, #bf2cba 75%, #ddca4e 95%, #c77dff 100%);  
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 10s linear infinite ;
    transition: font-size 0.3s ease;
  }
  
  
  

  nav {
    font-size: 1rem;
    text-align: right;
  }
  
  .textos-header .info a{
    font-size: 1.25rem;
    align-items: center;
    text-align: center;
    font-family: 'Kurale', serif;
    display: inline-block;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 50px;
    margin-bottom: 50px;
    color: transparent;
    
    transition: color 0.3s ease;
    }
    .textos-header .info a:hover{
      color:#f1f1f1 ;
      background: #8068c1;
      transition: box-shadow  0.3s ease;    
      box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.5);
      padding: 17px 27px;
    }
  .mylove{
    align-items: center;
    color: rgb(255, 0, 200);
  }

  .myllove{
    text-align: center;
    align-items: center;

  
  }
  
  body {
    margin: 0;
    background-color: #efefef;
  }
  .container { 
    width: 400px;
    margin: 0 auto;
  }
  
  section article {
    transition: box-shadow  0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    
  }
  
  section article:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.5);
  }
  section article h2{
    font-size: 40px;
    font-family: 'Merienda', cursive;
   
  }
  section article h2, section article p {
    margin: 1rem; 
    font-family: 'Merienda', cursive;
    
  }
  
  footer {
    background-color: #222;
    padding: 3rem;
    color: #fff;
  }
  footer section{
    float: right;
  }
  
  footer p {
     margin: 0;
  }
  
  footer a {
    cursor: pointer;
    transition: color 0.3s ease;
    color:#fff;
    text-decoration: none;
  }
  
  footer a:hover {
    color: cornflowerblue;
  }
  
  
  header {
     width: 100%;
     deight: 600px;
     background: #005AA7;  /* fallback for old browsers */
  background: -wnkit-linear-gradient (to right, hsla(340, 100%, 70%, 0.671), hsla(197, 74%, 54%, 0.152)), url(https://i.pinimg.com/originals/f2/84/15/f284150e934b3fbecbad289851efcb85.gif );  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, hsla(340, 100%, 70%, 0.671), hsla(197, 74%, 54%, 0.152)), url(https://i.pinimg.com/originals/f2/84/15/f284150e934b3fbecbad289851efcb85.gif); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
      background-size: cover;
      background-attachment: fixed; 
      position: relative;
  
  
  }

  .fondo1 {
    width: 100%;
    deight: 600px;
    background: #005AA7;  /* fallback for old browsers */
 background: -wnkit-linear-gradient (to right, hsla(302, 36%, 60%, 0.279), hsla(201, 58%, 69%, 0.786)), url(https://i.pinimg.com/originals/dd/39/0e/dd390e86e9ca00659c16b3335a5f4bcf.gif );  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right,  hsla(302, 36%, 60%, 0.279), hsla(201, 58%, 69%, 0.786)), url(https://i.pinimg.com/originals/dd/39/0e/dd390e86e9ca00659c16b3335a5f4bcf.gif ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
     background-size: cover;
     background-attachment: fixed; 
     position: relative;
 
 
 }
 .fondo2 {
  width: 100%;
  deight: 600px;
  background: #005AA7;  /* fallback for old browsers */
background: -wnkit-linear-gradient (to right, hsla(340, 100%, 70%, 0.671), hsla(197, 74%, 54%, 0.152)), url(https://i.pinimg.com/originals/be/77/84/be77847711dfaf26e99ca867df5d1589.gif);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, hsla(340, 100%, 70%, 0.671), hsla(197, 74%, 54%, 0.152)), url(https://i.pinimg.com/originals/be/77/84/be77847711dfaf26e99ca867df5d1589.gif); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   background-size: cover;
   background-attachment: fixed; 
   position: relative;


}
  
  .gradcan{
    justify-content: center;
    align-items:  center;
    margin-top: 100px;
    font-size: 100%;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(135deg, #e9c46a 0% ,#FFAFCC 5%, #CDB4DB 25%, #BDE0FE 50%, #CDB4DB 75%, #FFAFCC 95%, #e9c46a 100%);  
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 10s linear infinite ;
    transition: font-size 0.3s ease;

} 






@keyframes animate{
    100%{
        background-position: 400%;

    }

}
  .wave{
     pasition: absolute;
     bottom: 0;
     width: 100%;
  
  }
  
.letritas{
  background: linear-gradient(135deg, #e9c46a 0% ,#FFAFCC 22%, #CDB4DB 25%, #BDE0FE 50%, #CDB4DB 75%, #FFAFCC 95%, #e9c46a 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}